@charset "utf-8";
.bg_naranja {
	background-color: rgba(62,195,0,1.00);
	opacity: 1;
}
.bg_transparencia {
	background-color: rgba(56,163,0,0.80);
}
.bg_fd {
	background-color: rgba(62,195,0,1.00);
}
.bg_form {
	background-color: rgba(62,195,0,0.73);
}
.bg_imagen {
	background-image: url(../imagenes/6.jpg);
	background-position: 78% 27%;
	background-size: cover;
}
.bg_texto {
	color: rgba(255,255,255,1.00);
}
.bg_plano {
	background-color: rgba(0,0,0,0.72);
	background-position: 0% 0%;
	background-size: auto auto;
	border-radius: 32px;
}
.bg_boton {
	background-color: rgba(30,126,52,1.00);
}
.bg_color {
	background-color: rgba(206,249,171,0.76);
	background-position: 0% 0%;
	-webkit-box-shadow: 0px 0px 0px;
	box-shadow: 0px 0px 0px;
}

.Raleway -font {
    font-family: 'Raleway', sans-serif !important;
}
